h1 {
    color: white;
}

h2 {
    margin-top: 1em;
}

label {
    font-weight: bold;
    margin-bottom: 0;
}

select, input {
    height: 38px;
    margin-bottom: .5em;
}

hr {
    border: solid 1px grey;
}

.jumbotron {
    background-image: url("assets/coffee-header.jpeg");
    background-attachment: fixed;
    height: 250px;
    background-size: 100%;
}