h1 {
    color: white;
}

h2 {
    margin-top: 1em;
}

label {
    font-weight: bold;
    margin-bottom: 0;
}

select, input {
    height: 38px;
    margin-bottom: .5em;
}

hr {
    border: solid 1px grey;
}

.jumbotron {
    background-image: url("assets/coffee-header.jpeg");
    background-attachment: fixed;
    height: 250px;
    background-size: 100%;
}
.coffee{
    background-color: #d5d5d5; /*i plan to put a background image i found for each div, maybe make it transparent to read.. */
    max-height: 20rem;                            /*also, using media queries with this class will make our coffees adapt to mobile and pc view correctly*/
}

.recommend{
    border: 2px yellow;
    background-color: #333333;
    color: #DDDDDD;
}
#RecRoast{
color: darkgray;
    font-size: 1rem;
}



@media (min-width: 576px) {
.fit{
    font-size: 1.5vw;
}}
@media (min-width: 830px) and (max-width: 992px) {
    .fit{                       /*sucks.. but it looks wrong only at this query..*/
        font-size: 1.3vw;
    }
}