body{
    background-image: url("./assets/body-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
}

h2 {
    margin-top: 1em;
}

label {
    font-weight: bold;
    margin-bottom: 0;
}

select, input {
    height: 38px;
    margin-bottom: .5em;
}

hr {
    border: solid 1px grey;
}

.jumbotron {
    background-image: url("assets/coffee-header.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    background-size: 100%;
}
.coffee{
    background-color: #b7a7a7; /*i plan to put a background image i found for each div, maybe make it transparent to read.. */
                               /*also, using media queries with this class will make our coffees adapt to mobile and pc view correctly*/
}
.coffee-bg{
    height: 330px;
}
select, .textLocation{
    border: solid 1px #517B97;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0 0 8px;
}

.recommend{
    background-color: #333333;
    color: #DDDDDD;
}
#RecRoast{
color: #695252;
    font-size: 1rem;
}


@media (min-width: 576px) {
.fit{
    font-size: 1.5vw;
}
.jumbotron{
    height: 250px;
}
}
@media (min-width: 830px) and (max-width: 992px) {
    .fit{                       /*sucks.. but it looks wrong only at this query..*/
        font-size: 1.3vw;
    }
}
@media (min-width: 1470px) {
    .fit{
        font-size: 22px;
    }
}